beautifulsoup4==4.12.3
nbformat==5.10.4
Requests==2.32.3
setuptools==69.5.1
langchain-pinecone
langchain
langchain_community
pinecone-client[grpc]
sentence_transformers
langchain-google-genai
langchain_core
streamlit
python-dotenv
h5py
wrapt
termcolor
flatbuffers
